body{
    
}
.invoie-continer{
   height: 100vh;
    width: 90vw;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.header{
    height: 11vh;
    width: 100%;
}

.invoie-continer h1{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 5vw;

}

.span-h1{
    font-size: 2vw;
    font-weight: 500;
}
.right{
    
    height: 9vh;
    width: 20vw;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 12vh;
    
}
#products{
    height: 30%;
    width: 60vw;
    margin-top: 2vh;
    border-top: 3px solid tomato;
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headers{
    padding: 1.8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.headers span{
    display: inline-block;
    width: 20%;

}
.headres-bak{
    background-color: gray;
}

.back{
    background-color: #f7e0e0;
    border: 2px solid black;
}
.sub{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 147px;
    bottom: 150px;
    
}
.sub span{
  padding-left: 21vh;
  
   
}
.total{
    height: 5vh;
    width: 20vw;
    background-color:grey;
    color: #fff;
    position: absolute;
    bottom: 134px;
    right: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#total{
    margin-left: 145px;
}
.sign{
position: absolute;
bottom: 0;
right: 20px;

}
.sign img{
    position: absolute;
    bottom: -35px;
    right: 0;
    height:30vh;
    width: 10vw;

}

@media  screen and (max-width:490px)
{

    .invoie-continer h1 {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 6.5vw;
    }
.right{
    font-size: 2.5vw;
    position: absolute;
    right: 70px;
    top: 8vh;

}
.left{
    font-size: 3vw;
}
.headers{
    font-size: 2.5vw;

}
.sub{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 35px;
    bottom: 182px;
    
}
.sub span{
  padding-left: 11vh;
  
   
}
.total{
    height: 4vh;
    width: 33vw;
    background-color: grey;
    color: #fff;
    font-size: 3vw;
    position: absolute;
    bottom: 166px;
    right: 49px;
    display: flex;
    justify-content: center;
    align-items: center
}
#total{
    margin-left:74px;
}
.sign{
position: absolute;
bottom: 0;
right: 22px;

}
.sign img{
    position: absolute;
        bottom: -38px;
        right: -10px;
        height: 30vh;
        width: 27vw;
    }

}

@media screen and (min-width: 490px) and (max-width: 768px)
{

    .right{
        font-size: 2.2vw;
        position: absolute;
        right: 70px;
        top: 8vh;
    
    }

    .sub{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 255px;
        bottom: 140px;
        
    }

    .sub span{
        padding-left: 13vh;
        
         
      }


    .total{
        height: 4vh;
        width: 36vw;
        background-color: grey;
        color: #fff;
        font-size: 3vw;
        position: absolute;
        bottom: 120px;
        right: 219px;
        display: flex;
        justify-content: center;
        align-items: center
    }
    #total{
        margin-left:74px;
    }

    .sign{
        position: absolute;
        bottom: 0;
        right: 94px;
        
        }
        .sign img{
            position: absolute;
                bottom: -38px;
                right: -41px;
                height: 30vh;
                width: 27vw;
            }


}

@media screen and (min-width: 768px) and (max-width: 1080px){
    .right{
        font-size: 1.8vw;
        position: absolute;
        right: 70px;
        top: 8vh;
    
    }

    .sub{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 191px;
        bottom: 168px;
        
    }

    .sub span{
        padding-left: 13vh;
        
         
      }


    .total{
        height: 4vh;
        width: 23vw;
        background-color: grey;
        color: #fff;
        font-size: 2vw;
        position: absolute;
        bottom: 154px;
        right: 160px;
        display: flex;
        justify-content: center;
        align-items: center
    }
    #total{
        margin-left:74px;
    }

    .sign{
        position: absolute;
        bottom: 0;
        right: 94px;
        
        }
        .sign img{
            position: absolute;
                bottom: -38px;
                right: -41px;
                height: 30vh;
                width: 27vw;
            }
}



